
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3b6c3e;
    color: white;
    text-align: center;
}

body, h1, h2, h3, p {
    margin: 0;
}

h1 {
    color: #75ffff;
}

h2, .technologies h3 {
    color: #93ff9a;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    z-index: 999;
    position: fixed;
}

.menu-icon {
    background-color: red;
    position: fixed;
    padding: 0 8px;
    z-index: 999;
    display: inline-block;
    border-radius: 50%;
    right: 0;
    margin: 6px;
}

.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.overlay {
    height: 0;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(41, 103, 91, 1);
    position: fixed;
    transition: 0.8s;
    overflow-y: hidden;
}

.open {
    height: 100%;
}

.overlay-content {
    padding-top: 25px;
    text-transform: uppercase;
}

.overlay-content img, #about a img, #about figure img, #contact a img {
    width: 22%;
}

.overlay-content h3 {
    margin-bottom: 31px;
}

.scroll {
    margin-bottom: 0;
    background-color: #399482;
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    border: 0;
    box-shadow: 1px -3px #1d4c43;
}

header {
    background-color: #245249;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25%;
}

header .logo img {
    width: 20%;
}

header h2 {
    margin: 38px 0px;
    line-height: 1.3;
    color: aquamarine;
}

.banner-img {
    width: 71%;
    margin-top: 51px;
}

#about, #contact {
    padding: 25px 10px 10px;
}

#about h3, #contact h3 {
    margin: 10px 0;
}

.technologies {
    margin: 30px 0;
}

#contact form {
    margin: 10px 0 40px;
}

input, textarea {
    margin: 5px 0;
    width: 86%;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
}

input[type=button] {
    width: 93%;
}

#snackbar {
    min-width: 250px;
    background-color: #333;
    border-radius: 2px;
    padding: 16px;
    z-index: 999;
    position: fixed;
    left: 6%;
    bottom: 30px;
    visibility: hidden;
}

#snackbar.showThanks {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    form {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

footer {
    background-color: #45462ab0;
}

footer p {
    padding: 10px 4px;
}

